body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 80rem;
  margin: auto;
}

button {
  background-color: #3882F6;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px 25px;
  border: 0;
  border-radius: 0.5rem;
}

.secondary {
  color: #e5e7eb;
  border: 1px solid #e5e7eb;
}

header {
  background-color: #1f2937;
  color: #e5e7eb;
}
header .nav-wrapper {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
header .nav-wrapper .navigation {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
}
.hero .hero-wrapper {
  gap: 80px;
  align-items: center;
  padding: 40px 0;
  display: flex;
}
.hero .hero-wrapper .text {
  align-self: stretch;
}
.hero .hero-wrapper .text h1 {
  font-size: 48px;
  font-weight: 900;
}
.hero .hero-image {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.random-info h2 {
  text-align: center;
  padding: 20px;
}
.random-info .box-wrapper {
  padding: 0 0 40px 0;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.random-info .box-wrapper .box {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
}
.random-info .box-wrapper .box .box-image {
  max-width: 100%;
  object-fit: cover;
  border-radius: 3rem;
  aspect-ratio: 1/1;
}

.testimonial {
  background-color: #e5e7eb;
}
.testimonial .testimonial-wrapper {
  padding: 100px 200px;
}
.testimonial .testimonial-wrapper .testimonial {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 0;
}
.testimonial .testimonial-wrapper .author {
  font-weight: 700;
  text-align: right;
  margin: 0;
}

.cta {
  padding: 50px 0;
}
.cta .cta-wrapper {
  padding: 25px 0;
  background-color: #3882F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.cta .cta-wrapper .text {
  color: #e5e7eb;
}

footer {
  background-color: #1f2937;
  padding: 40px 0;
}
footer p {
  text-align: center;
  color: #e5e7eb;
}