$darkblue: #1f2937;
$blue: #3882F6;
$gray: #e5e7eb;

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.wrapper {
    max-width: 80rem;
    margin: auto;
}

button {
    background-color: $blue;
    color: $gray;
    font-size: 18px;
    padding: 10px 25px;
    border: 0;
    border-radius: 0.5rem;
}

.secondary {
    color: $gray;
    border: 2px solid $gray;
    padding: 10px 30px;
}

header {
    background-color: $darkblue;
    color: $gray;
    .nav-wrapper {
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;
        .logo {
            font-weight: 700;
            font-size: 28px;
        }
        .navigation {
            display: flex;
            list-style-type: none;
            gap: 20px;
        }

    }
}

.hero {
    background-color: $darkblue;
    color: $gray;
    .hero-wrapper {
        gap: 80px;
        align-items: center;
        padding: 40px 0;
        display: flex;
        .text {
            align-self: stretch;
            h1 {
                font-size: 48px;
                font-weight: 900;
            }
        }
    }
    .hero-image {
        width: 100%;
        object-fit: cover;
        height: 400px;
    }
}

.random-info {
    h2 {
        text-align: center;
        padding: 20px;
    }
    .box-wrapper {
        padding: 0 0 40px 0;
        display: flex;
        gap: 40px;
        justify-content: space-between;
        .box {
            display: flex;
            flex-direction: column;
            height: auto;
            flex: 1;
            .box-image {
                max-width:100%;
                object-fit: cover;
                border-radius: 3rem;
                aspect-ratio: 1/1;
            }
        }

    }
}


.testimonial {
    background-color: $gray;
    .testimonial-wrapper {
        padding: 100px 200px;
        .testimonial {
            font-size: 36px;
            font-style: italic;
            font-weight: 100;
            margin-bottom: 0;
        }
        .author {
            font-weight: 700;
            text-align: right;
            margin: 0;
        }
    }
}

.cta {
    padding: 50px 0;
    .cta-wrapper {
        padding: 50px 100px;
        background-color: #3882F6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.5rem;
        .text {
            color: #fff;
            h2 {
                margin: 0;
            }
            p {
                margin: 10px 0;
            }
        }
        
    }
}

footer {
    background-color: $darkblue;
    padding: 40px 0;
    p {
        text-align: center;
        color: $gray;
    }
}